@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
}

:root {
  background-color: #0D0D0D;
  color: white;
  font-family: "Inter", sans-serif;
}


/* @keyframes float {
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-15px);
  }

  100%{
    transform: translateY(0px);
  }
} */